@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: white;
  color: black;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.lustria-font-loaded {
  font-family: "Lustria", serif;
  font-weight: 400;
  font-style: normal;
}

.max-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}